.empDashboardImage{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.empDashboardUserDetailsColOne{
    text-align: center;
}

@media screen and (max-width: 500px) {
    .empDashboardUserDetailsTwo{
       text-align: center;
    }
}